@mixin scheme_dark() {
    --primary: #17191c /*cool-grey-900*/;
    --secondary: #fff /*white-500*/;
    --ternary: #2c2f35 /*cool-grey-800*/;
    --accent: #eab308 /*yellow-500*/;

    --page-background: #000;

    --input-border: #2c2f35 /*cool-grey-800*/;
    --input-outline: #f43f5e /*rose-500*/;
    --input-background: #17191c /*cool-grey-900*/;

    --headings: #fff /*white-500*/;
    --sub-headings: #fff /*white-500*/;
    --content: #fff /*white-500*/;
    --links: #fff /*white-500*/;
    --icons: #fff /*white-500*/;
    --buttons: #fff /*white-500*/;
}

@media (prefers-color-scheme: dark) {
    :root {
        @include scheme_dark();
    }
}

[forced-color-scheme='dark'] {
    @include scheme_dark();
}
