:root {
    --error: #f43f5e /*rose-500*/;
    --info: #64748b /*blue-grey-500*/;
    --succes: #10b981 /*emerald-500*/;
    --warning: #f8c528 /*yellow-400*/;
  
    --disabled: ;
    --highlight: ;
    --visited: ;
  
    --hover: ;
    --pressed: ;
    --focus: #f43f5e /*rose-500*/;
  }
  